{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<title>Login</title>
</head>


<body>

<div class="site-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 contents">
				<div class="row justify-content-center">
					<div class="col-md-12">


						<div class="form-block">
							<div class="pb-2 pt-4 text-center">
								<h3><strong>Forgot Password</strong></h3>
								<p class="p-1 lead">Enter your email address and send.</p>
							</div>

							<form action="" method="post">

								{% csrf_token %}

								<div class="form-group first">
									<label for="email">Enter registered email</label>
									<input type="text" class="form-control" value="" name="email"
									       id="email" required>

								</div>
								{{ form.email.error }}

								<input type="submit" value="Send" class="btn btn-pill text-white btn-primary btn-lg">

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

			<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
			<script src="{% static 'js/popper.min.js' %}"></script>
			<script src="{% static 'js/bootstrap.min.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

</body>
</html>