{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<title>Login</title>
</head>


<body>

<div class="site-section ">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-md-6 contents">
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="form-block">
							<div class="mb-4 text-center">
								<h3><strong>Reset Password</strong></h3>
								{#									 <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>#}
							</div>
							<form action="" method="post">
								{% csrf_token %}

								{{ form.as_p }}

{#								<div class="form-group first">#}
{#									<label for="username">New Password</label>#}
{#									<input type="password" class="form-control" name="username" id="username" required>#}
{##}
{#								</div>#}
{#								<div class="form-group last mb-4">#}
{#									<label for="password">Confirm Password</label>#}
{#									<input type="password" class="form-control" name="password" id="password" required>#}
{##}
{#								</div>#}

								<input type="submit" value="Log In" class="btn btn-pill text-white btn-primary btn-lg">

							</form>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>